<!DOCTYPE html>
<head>
    <title>Sign_up :)</title>
</head>
<body>

<center>
    <form action = "{{url_for('store_db')}}" method = "post">
        <h1>Create Account</h1>
        Create Username
        <input type="text" placeholder="Username" name="username" required><br>
        Create Password
        <input type="password" placeholder="Password" name="password" required><br>

        Firstname
        <input type="text" placeholder="First" name="first" required><br>
        Lastname
        <input type="text" placeholder="Last" name="last" required><br>
        ID number
        <input type="text" placeholder="ID" name="id" required><br>
        Course
        <input type="text" placeholder="Course" name="crs" required><br>
        <input class="btn btn-default" type="submit">

    </form>
    <button onclick="window.location.href='/'">Cancel</button>
</center>
</body>
</html>